<style type="text/css">
.auto-style1 {
	margin-left: 608px;
}
.auto-style2 {
	margin-top: 16px;
}
</style>

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
      <title>@Page.Title</title>
      <meta name="description" content="The best way to buy in the comfort of your home!">
      <meta name="keywords" content="keyword1, keyword2, keyword3">
      <link href=@Href("/css/style.css") rel="stylesheet" type="text/css">
      <script type="text/javascript" src="@Href("~/Scripts/jquery-1.4.4.min.js")"></script>
      @RenderSection("Script", required: false)
    </head>
    <body>
        <div class="main-out">
            <div class="main">
                <div class="page">
                    <div class="top">
                        <div class="header" style="width: 950px">
                            <div class="header-top">
                                <h1><span class="title">Blue Sea</span></h1>
                                <p>Phone: 8324-3085<br><a href="contact.cshtml" >info@blueseaojochal.com</a></p>
                            </div>
                            <div class="topmenu">
                                <ul>
                                  <li style="border-top: medium none;"><a href="~/home">Home</a></li>
                                  <li><a href="~/about">About&nbsp;Us</a></li>
                                  <li><a href="~/contact">Contact</a></li>
                                  <li><a href="~/list_of_products">My&nbsp;List</a></li>
                                </ul>
                            </div>
                            <div class="header-img">
                                <div class="content-left">
                                    <h2 class="slogan" style="width: 460px">Bringing food to your home.</h2>
                                </div>
                                <div>
                                    <img src="~/images/BLUE_SEA.png" alt="logo" height="174" width="210" class="auto-style2" >
                                </div>
                            </div>
                        </div>
                        @RenderBody()
                    </div>
                    <div class="bottom">
                        <ul>
                          <li style="border-top: medium none;"><a href="~/home">Home</a></li>
                          <li><a href="~/about">About&nbsp;Us</a></li>
                          <li><a href="~/contact">Contact</a></li>
                          <li><a href="~/list_of_products">My&nbsp;List</a></li>

                        </ul>
                        <!--DO NOT Remove The Footer Links-->
                        <p>&copy; Copyright 2014. Designed by <a target="_blank"
                         href="http://www.htmltemplates.net">html templates</a></p>
                        <!--Designed by--><a href="http://www.htmltemplates.net">
                        <img src="../images/footnote.gif" class="copyright" alt="htmltemplates.net"></a></div>
                        <!--DO NOT Remove The Footer Links-->
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
