@{
}

<style type="text/css">
.auto-style1 {
	margin-left: 608px;
}
.auto-style2 {
	margin-top: 16px;
}
</style>

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Blue Sea</title>
  <meta name="description" content="The best way to buy in the comfort of your home!">
  <meta name="keywords" content="keyword1, keyword2, keyword3">
  <link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="main-out">
<div class="main">
<div class="page">
<div class="top">
<div class="header">
<div class="header-top">
<h1><span>Blue Sea</span></h1>
    <p>Phone: 8324-3085<br><a href="contact.cshtml" >info@blueseaojochal.com</a></p>
</div>
<div class="topmenu">
<ul>
  <li><a href="home.cshtml">Home</a></li>
  <li><a href="about.cshtml">About&nbsp;Us</a></li>
  <li><a href="contact.cshtml">Contact</a></li>
  <li><a href="list_of_products.cshtml">My&nbsp;List</a></li>

</ul>
</div>
<div class="header-img">
<div class="content-left">
<h2 class="slogan" style="width: 460px">Bringing food to your home.</h2>
</div>
<div>
<img src="images/BLUE_SEA.png" alt="logo" height="174" width="210" class="auto-style2" >
</div>

</div>
</div>
<div class="content">
<div class="content-left">
<div class="row1">
<div class="welcome">
<h2 class="subtitle">About Us</h2>
<p><strong><i>We will carry food to your home!</i></strong></p>
<br>
<p>Blue sea is a company dedicated to bring products from PRICESMART to your front door.<br>
The product order is made easy and fast.<br>
You just have to get in our website <a href="www.blueseaojochal.com">www.blueseaojochal.com</a><br>
You can make a list by adding products to the shopping cart.<br>
At the end you will have a list containing the price of the products.<br>
You send us the list of the products you’ve selected <br>
Three to four days we’ll deliver the products <strong>to your front door.</strong></p><br>
<p>The days for orders are from Saturday to Monday<br>
Orders are delivered on Fridays<br>
Orders will be delivered every 15 days<br>
You can pay when the products are delivered at your house with a credit card or cash.<br>
The delivery system is easy and secure.
</p>
</div>
</div>

</div>
<div class="content-right">
<h2>Main Menu</h2>
<ul>
  <li style="border-top: medium none;"><a href="home.cshtml">Home</a></li>
  <li><a href="about.cshtml">About&nbsp;Us</a></li>
  <li><a href="contact.cshtml">Contact</a></li>
  <li><a href="list_of_products.cshtml">My&nbsp;List</a></li>

</ul>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</div>
</div>
</div>
<div class="bottom">
<ul>
  <li style="border-left: medium none;"><a href="home.html">Home</a></li>
  <li><a href="about.cshtml">About&nbsp;Us</a></li>
  <li><a href="contact.cshtml">Contact</a></li>
  <li><a href="list_of_products.cshtml">My&nbsp;List</a></li>

</ul>
<!--DO NOT Remove The Footer Links-->
<p>&copy; Copyright 2014. Designed by <a target="_blank"
 href="http://www.htmltemplates.net">html templates</a></p>
<!--Designed by--><a href="http://www.htmltemplates.net">
<img src="../images/footnote.gif" class="copyright" alt="htmltemplates.net"></a></div>
<!--DO NOT Remove The Footer Links-->
</div>
</div>
</div>
</body>
</html>






