@{
}

<div class="content">
    <div class="content-left">
        <div class="row1">
            <div class="welcome">
                <h2 class="subtitle">About Us</h2>
                <p><strong><i>We will carry food to your home!</i></strong></p>
                <br>
                <p>Blue sea is a company dedicated to bring products from PRICESMART to your front door.<br>
                The product order is made easy and fast.<br>
                You just have to get in our website <a href="www.blueseaojochal.com">www.blueseaojochal.com</a><br>
                You can make a list by adding products to the shopping cart.<br>
                At the end you will have a list containing the price of the products.<br>
                You send us the list of the products you’ve selected <br>
                Three to four days we’ll deliver the products <strong>to your front door.</strong></p><br>
                <p>The days for orders are from Saturday to Monday<br>
                Orders are delivered on Fridays<br>
                Orders will be delivered every 15 days<br>
                You can pay when the products are delivered at your house with a credit card or cash.<br>
                The delivery system is easy and secure.
                </p>
            </div>
        </div>
    </div>
    <div class="content-right">
        <h2>Main Menu</h2>
        <ul>
          <li style="border-top: medium none;"><a href="~/home">Home</a></li>
          <li><a href="~/about">About&nbsp;Us</a></li>
          <li><a href="~/contact">Contact</a></li>
          <li><a href="~/list_of_products">My&nbsp;List</a></li>
        </ul>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </div>
</div>