@{
    if(Request.Cookies["cart"] == null){
        Response.Redirect("~/");
    }
    var cartId = Request.Cookies["cart"].Value.AsInt();
    var totalPrice = Request["totalPrice"].AsFloat();
    var clientName = Request["clientName"];
    var clientAddress = Request["clientAddress"];
    var clientPhoneNumber = Request["clientPhoneNumber"];
    var clientEmail = Request["clientEmail"];
    var additionalInfo = Request["additionalInfo"];
    var paymentMethod = Request["paymentMethod"];
    var db = Database.Open("digamboa_bluesea");
    var command = String.Empty;
    var errorMessage = "";
    
    if(IsPost) {
        command = @"UPDATE TB_Purchase SET totalPrice = @0, clientName = @1, clientAddress = @2, clientPhoneNumber = @3, clientEmail = @4,
                    additionalInfo = @5, paymentMethod = @6, checkedOut = 1 WHERE PK_PurchaseId = @7";
        db.Execute(command, totalPrice, clientName, clientAddress, clientPhoneNumber, clientEmail, additionalInfo, paymentMethod, cartId);     
        
        command = @"SELECT item.itemNumber, item.description, line.quantity, line.linePrice, line.quantity * line.linePrice AS total, line.PK_PurchaseLineId, purchase.date
                FROM TB_Item item INNER JOIN TB_PurchaseLine line
                ON line.FK_ItemId = item.PK_ItemId
                INNER JOIN TB_Purchase purchase
                ON  line.FK_PurchaseId = purchase.PK_PurchaseId
                WHERE purchase.PK_PurchaseId = @0";
        var cartItems = db.Query(command, cartId);

        command = "SELECT date from TB_Purchase WHERE PK_PurchaseId = @0";
        var date = db.QueryValue(command, cartId).ToString();
        
        var emailHeader = "<br><p>Thanks for buying with us! This is your purchase and the information that you provided us.</p>"+
                          "<p><strong>Client: </strong>"+clientName+"</p>"+
                          "<p><strong>Method of Payment: </strong>"+paymentMethod+"</p>"+
                          "<p><strong>Provided Address: </strong>"+clientAddress+"</p>"+
                          "<p><strong>Additional Info: </strong>"+additionalInfo+"</p>"+
                          "<p><strong>Date of Purchase: </strong>"+date+"</p><br>"+
                          "<h1><u>Your Purchase</u></h1>";

        var customerRequest = "<table>" +
                                "<tr><th>Item Number</th><th>Product</th><th>Quantity</th><th>Unit Price</th><th>Total Price</th><tr>";

        var emailFooter =       "<br><p></p><p><i>Blue Sea</i><br><i>We will carry food to your home!</i><br>"+
                            "Email:<ins>info@blueseaojochal.com</ins><br>"+
                            "Phone: 8324-3085</p>";

        foreach(var row in cartItems){
            customerRequest = customerRequest + "<tr><td align=\"center\">" + row.itemNumber + "</td><td align=\"center\">" + row.description + "</td><td align=\"center\">" + row.quantity + "</td><td align=\"center\">" + row.linePrice + "</td><td align=\"right\">" + row.total + "</td></tr>"; 
        }
        customerRequest = customerRequest + "<tfoot><tr><td colspan=\"4\"><strong>Total:</strong></td><td align=\"right\">"+totalPrice+"</td></tr></tfoot></table>";
        
        try{
            WebMail.SmtpServer = "localhost";
            WebMail.SmtpPort = 25;
            WebMail.UserName = "info@blueseaojochal.com";
            WebMail.Password = "BlueMail2015";
            WebMail.From = "info@blueseaojochal.com";

            WebMail.Send(to: clientEmail,
            subject: "Your order from BlueSea - " + clientName,
            body: emailHeader + customerRequest + emailFooter
            );
            WebMail.Send(to: "info@blueseaojochal.com",
            subject: "New order from : " + clientName,
            body: clientEmail + emailHeader + customerRequest
            );
            WebMail.Send(to: "blueseaojochal@gmail.com",
            subject: "New order from : " + clientName,
            body: clientEmail + emailHeader + customerRequest
            );

        }
        catch(Exception ex) {
            errorMessage = ex.Message;
        }
        
           
    }
    
}

<div class="content">
    <div class="content-left">
        <div class="row1">
            <div class="welcome">
                <h1 class="title">Thank you for your purchase!</h1>
                    @if(errorMessage == ""){
                        <p><strong>An email was send to your account with the purchase information</strong></p>
                        <br>
                    }
                    else {
                           <p>The following error was reported:</p>
                           <p><em>@errorMessage</em></p> 
                    }
            </div>
        </div>
    </div>
    <div class="content-right">
        <h2>Main Menu</h2>
        <ul>
          <li style="border-top: medium none;"><a href="home.cshtml">Home</a></li>
          <li><a href="about.cshtml">About&nbsp;Us</a></li>
          <li><a href="contact.cshtml">Contact</a></li>
          <li><a href="list_of_products.cshtml">My&nbsp;List</a></li>

        </ul>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </div>
</div>

