@{
    if(Request.Cookies["cart"] == null){
        Response.Redirect("~/");
    }

    var cartId = Request.Cookies["cart"].Value.AsInt();
    var command = String.Empty;
    var db = Database.Open("digamboa_bluesea");
    if(IsPost){
        command = "DELETE FROM TB_PurchaseLine WHERE PK_PurchaseLineId = @0";
        db.Execute(command, Request["purchaseLineId"]);
    }
    
    command = @"SELECT item.PK_ItemId, item.description, item.itemNumber, line.quantity, line.linePrice, line.quantity * line.linePrice AS total, line.PK_PurchaseLineId
                FROM TB_Item item INNER JOIN TB_PurchaseLine line
                ON line.FK_ItemId = item.PK_ItemId WHERE line.FK_PurchaseId = @0";
    var purchase = db.Query(command, cartId);
    var cartTotal = purchase.Sum(t => (decimal)t.total);
    var grid = new WebGrid(purchase, canPage: false, canSort:false);

}

<div class="content">
    <div class="content-left">
        <div class="row1">
            <div class="welcome">
                <h1 class="title">Welcome to <span class="blueTitle">Blue Sea</span></h1>
                <p><i>Thanks for shopping with us!</i></p>
            </div>
        </div>
        <div class="row2">
            <div class="section1">
                <h2 class="subtitle">Your list of products</h2>
                <div id="grid">
                    @grid.GetHtml(
                        tableStyle : "table",
                        alternatingRowStyle : "alternateTable",
                        headerStyle : "headerTable",
                        columns: grid.Columns(
                                    grid.Column(
                                    columnName: "description",
                                    header: "Description"),
                                 grid.Column(
                                    columnName: "quantity",
                                    header: "Quantity"),
                                grid.Column(
                                    "linePrice",
                                    "Unit Price"),
                                grid.Column(
                                    "total",
                                    "Total Price"),
                                grid.Column("", format: @<form method="post">
                                                <input type="hidden" value="@item.PK_PurchaseLineId" name="purchaseLineId" />
                                                <input type="submit" value="Remove" />
                                                </form>)
                        )
                     )
                </div>
                <p>&nbsp;</p>
                <strong>Total</strong>
                <strong>$@cartTotal.ToString("f")</strong>
                <p>&nbsp;</p>
                <form method="post" action="~/checkout">
                    <input type="hidden" name="totalPrice" value="@cartTotal"/>
                    <input type="hidden" name="checkedOut" value="0"/>
                    <input type="submit" value="Order">
                </form>
            </div>

        </div>
    </div>
    <div class="content-right">
        <h2>Main Menu</h2>
        <ul>
          <li style="border-top: medium none;"><a href="~/home">Home</a></li>
          <li><a href="~/about">About&nbsp;Us</a></li>
          <li><a href="~/contact">Contact</a></li>
          <li><a href="~/list_of_products">My&nbsp;List</a></li>
        </ul>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </div>
</div>



