<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="home.cshtml" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
                <add value="index.php" />
            </files>
        </defaultDocument>
    </system.webServer>
    <connectionStrings>
        <add connectionString="server=208.43.238.108\SQL2014,780;database=digamboa_bluesea;uid=digam_admin;Pwd=Yt34$as" name="digamboa_bluesea" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
